.info-wrapper
    .info
        p.info__header Conquering web from 2009 and these are our stats ... so far ;)
        .info-item2
            .info__number 186
            .info__text satisfied clients
            img.header__link(src="images/circle.png" alt="circle")
            .info__number 657
            .info__text completed projects
            img.header__link(src="images/circle.png" alt="circle")
            .info__number 1,340
            .info__text coffees drinked
            img.header__link(src="images/circle.png" alt="circle")
            .info__number 652
            .info__text hours played battlefield 3

