.navigation
    .navigation__links
        a.navigation__link(href="") Home
        a.navigation__link(href="") Portfolio
        a.navigation__link(href="") Blog
        a.navigation__link(href="") Contact
    input.navigation__search(placeholder="search")