.header
    .wrapper-header
        img.header__logo(src="images/logo.png" alt="logo")
        .header__links
            a.header__link about us
            img.header__link(src="images/circle.png" alt="circle")
            a.header__link Services
            img.header__link(src="images/circle.png" alt="circle")
            a.header__link projects
            img.header__link(src="images/circle.png" alt="circle")
            a.header__link carrers
            img.header__link(src="images/circle.png" alt="circle")
            a.header__link.header__link_last Contact
.container.header-nav
    .slider
        .item
            h1.header-nav__header Top-notch web services in one place
            .header-nav__icons
                .header-nav__line1
                    img.header-nav__icon1(src="images/icon1.png" alt="icon1")
                    img.header-nav__icon2(src="images/icon2.png" alt="icon2")
                .header-nav__line2
                    img.header-nav__icon1(src="images/icon3.png" alt="icon3")
                    img.header-nav__icon2(src="images/icon4.png" alt="icon4")
                .header-nav__line3
                    img.header-nav__icon1(src="images/icon5.png" alt="icon5")
                    img.header-nav__icon2(src="images/icon6.png" alt="icon6")
        .item
            h1.header-nav__header Top-notch web services in one place
                .header-nav__icons
                    .header-nav__line1
                        img.header-nav__icon1(src="images/icon1.png" alt="icon1")
                        img.header-nav__icon2(src="images/icon2.png" alt="icon2")
                    .header-nav__line2
                        img.header-nav__icon1(src="images/icon3.png" alt="icon3")
                        img.header-nav__icon2(src="images/icon4.png" alt="icon4")
                    .header-nav__line3
                        img.header-nav__icon1(src="images/icon5.png" alt="icon5")
                        img.header-nav__icon2(src="images/icon6.png" alt="icon6")
        .item
            h1.header-nav__header Top-notch web services in one place
                .header-nav__icons
                    .header-nav__line1
                        img.header-nav__icon1(src="images/icon1.png" alt="icon1")
                        img.header-nav__icon2(src="images/icon2.png" alt="icon2")
                    .header-nav__line2
                        img.header-nav__icon1(src="images/icon3.png" alt="icon3")
                        img.header-nav__icon2(src="images/icon4.png" alt="icon4")
                    .header-nav__line3
                        img.header-nav__icon1(src="images/icon5.png" alt="icon5")
                        img.header-nav__icon2(src="images/icon6.png" alt="icon6")
    .slider-dots
        span.slider-dots_item(onclick='currentSlide(1)')
        span.slider-dots_item(onclick='currentSlide(2)')
        span.slider-dots_item(onclick='currentSlide(3)')