.gallery
    .gallery-item
        .gallery__header Our awesome projects
        .gallery__buttons
            .gallery__button all
            .gallery__button web
            .gallery__button app
            .gallery__button logo
            .gallery__button code
    .gallery__images-line
        img.gallery__img(src="images/placeholder.png" alt="placeholder")
        img.gallery__img(src="images/placeholder.png" alt="placeholder")
        img.gallery__img(src="images/placeholder.png" alt="placeholder")
        img.gallery__img(src="images/placeholder.png" alt="placeholder")
        img.gallery__img(src="images/placeholder.png" alt="placeholder")
        img.gallery__img(src="images/placeholder.png" alt="placeholder")
    .gallery-item2
        .gallery__button-view View portfolio