.partners {
  max-width: 970px;
  margin: 0 auto;
  padding: 70px 0px;

  &-item {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
  }

  &__header {

    color: #282828;
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48.06px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
  }

  &__text {

    color: #c9c9c9;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 24px;
    margin-top: 20px;
  }

  &__button {

    color: #383f49;
    width: 40px;
    text-align: center;
    height: 34px;
    padding-top: 10px;
    border: 2px solid #282828;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      background: #434343;
      color: white;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.3s ease 0s;
    }

  }

  &__images-line {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    margin-top: 80px;


  }

  &__img1 {
    width: 124px;
    height: 69px;
  }

  &__img2 {
    width: 229px;
    margin-top: -40px !important;

  }

  &__img3 {
    width: 166px;
    height: 42px;
  }



}

.slider {
  max-width: 90%;

  margin: auto;
  height: 300px;
  margin-bottom: 15px;
}


.slideText {
  position: absolute;
  color: #fff;
  font-size: 35px;
  /* Выравнивание текста по горизонтали и по вертикали*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Тень*/
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

/* Кружочки */
.slider-dots {
  text-align: center;
  margin-top: 50px;
}

.slider-dots_item {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
  background-color: black;
}

/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
.owl-item{
  background: white;
  display: flex;
}
.partners__slider{
  width: 100%;
}
.owl-carousel .owl-item .partners__img1{
  width: 124px;
  height: 69px;

}
.owl-carousel .owl-item .partners__img2{
  width: 310px;


}
.owl-carousel .owl-item .partners__img3{
  width: 166px;
  height: 42px;
}
.owl-carousel .owl-item .partners__img {
  /* Style for "Nuke studi" */
  width: 117px;
  height: 113px;
}

