.partners
    .partners-item
        .partners__header Our wonderful partners
        .partners__buttons
            .partners__button <
            .partners__button >
    .partners__text Move over logo to see testimonial
    .owl-carousel
        .partners__slider
            .partners__images-line
                img.partners__img1(src="images/Cudi_Airplanes.png" alt="Cudi_Airplanes")
                img.partners__img2(src="images/text.png" alt="text")
                img.partners__img3(src="images/health.png" alt="health")
            .partners__images-line
                img.partners__img(src="images/food.png" alt="food")
                img.partners__img(src="images/Nuke_studios.png" alt="Nuke_studios")
                img.partners__img(src="images/Star_caffee.png" alt="Star_caffee")
        .partners__slider
             .partners__images-line
                 img.partners__img1(src="images/Cudi_Airplanes.png" alt="Cudi_Airplanes")
                 img.partners__img2(src="images/text.png" alt="text")
                 img.partners__img3(src="images/health.png" alt="health")
        .partners__slider
             .partners__images-line
                 img.partners__img1(src="images/Cudi_Airplanes.png" alt="Cudi_Airplanes")
                 img.partners__img2(src="images/text.png" alt="text")
                 img.partners__img3(src="images/health.png" alt="health")