.footer
    .footer__item
        .footer-item1
            img.footer__logo(src="images/logo-footer.png" alt="logo")
            .footer__description  Lorem ipsum dolor sit tamet, consectetur adipiscing elit. Quisque vel lobortis neque, nec dictum erat. Proin malesuada, neque at facilisis posuere, tortor arcu vulputate dui, in sodales sem lacus sit amet diam.
        .footer-item2
            .footer__text quick contacts
            .footer__phone 421.909.123.456
            a.footer__email(href="mailto:hello@planeto.com") hello@planeto.com
    .footer__socials-icons
        .footer-item1
            img.footer__social(src="images/facebook.png" alt="face")
            img.footer__social(src="images/twitter.png" alt="twitter")
            img.footer__social-skype(src="images/skype.png" alt="skype")
        img.footer__author(src="images/author.png" alt="author")
        button.footer__button(onclick="topFunction()") To the top


