doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/style.css")
        link(href='https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Freehand&family=Lora:wght@700&family=Open+Sans&family=Roboto&display=swap' rel='stylesheet')
        title test
    body
    .main-wrapper
        include components/header/header
        include components/main-photo/main-photo
        include components/info/info
        include components/partners/partners
        include components/gallery/gallery
        include components/footer/footer
        script(src="js/index.js" defer)