.main-block
   .main-block-item
       img.main-block__img(src="images/lamp.png" alt="lamp")
       .main-block__column
            h2.main-block__header We have ideas for everyone
            p.main-block__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce scelerisque nibh et neque faucibus suscipit. Sed auctor ipsum ut tellus faucibus tincidunt. Curabitur non quam facilisis, rhoncus ligula ac, pellentesque augue ipsum.
            .main-block__button Learn more
   .main-block-item
        .main-block__column-left
                        h2.main-block__header We are on fire
                        p.main-block__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce scelerisque nibh et neque faucibus suscipit. Sed auctor ipsum ut tellus faucibus tincidunt. Curabitur non quam facilisis, rhoncus ligula ac, pellentesque augue ipsum.
                        .main-block__button Learn more

        img.main-block__img-right(src="images/fire.png" alt="lamp")
